<!DOCTYPE html>
<html lang="en" ng-app="arjuna">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>TITLE</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <!-- Link to jQuery CDN url to incorporate jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-resource.min.js"></script>
    <!-- Link to javascrip/jquery file -->
    <script src="./script.js" type="text/javascript"></script>
    <script src="./popup.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="container" class="group">
      <header class="navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar-nav navbar-right">
          <li id="navSignup"><a href="/#/signup">Signup</a></li>
          <li id="navLogin"><a href="/#/login">Login</a></li>
          <li id="navLogout"><a href="/#/logout">Logout</a></li>
          <li id="navPromos"><a href="/#/promos">Promos</a></li>
        </ul>
        <div id="addButton">ADD</div>
      </header>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" ng-controller="addController">
          <span class="close">×</span>
          <h4>ADD</h4>
          <input type="text" placeholder="title" ng-model="promoTitle">
          <input type="text" placeholder="discount: % or text" ng-model="promoAmount">
          <input type="text" placeholder="date or validity" ng-model="promoDate">
          <input type="text" placeholder="description" ng-model="promoDetail">
          <div id="saveBtn" ng-click="addPromo()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
        </div>
      </div>
      <div ng-view></div>

    </div>
  <script src="./popup.js" type="text/javascript"></script>
  </body>
</html>
